.App {
  text-align: center;
  height:100vh;
}
.nav-right{
  right:0;
}
.nav-middle{
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width:min-content
}
.nav-middle:hover{
  cursor: pointer;
}
.grassy{
  background: url(../public/img/grass1.jpg);
  background-size: 150px 150px;
}
.path{
  background: url(../public/img/dirt-2.png);
  background-size: 70%;
  background-size: 30px 30px;
}
.icon{
  
  max-height: 25px;
  
}
.link-style{
  color:white !important;
  text-decoration: none;
}